.input {
  margin: 10px 0;
  position: relative;
  width: 150px;
}
input {
  background: transparent;
  border: none;
  border-bottom: solid 1px #ccc;
  padding: 20px 2px 5px;
  transition: padding 0.4s;
  width: 100%;
}
input:placeholder-shown + label {
  color: #aaa;
  font-size: 14px;
  top: 35px;
}
input:focus + label,
label {
  color: #336289;
  font-size: 12px;
  pointer-events: none;
  position: absolute;
  left: 2px;
  top: 18px;
  transition: top 0.4s, left 0.4s, font-size 0.4s;
}
input::placeholder{
  color: transparent;
  display:none;
}
input:focus,
input:not(:placeholder-shown) {
  border-bottom: solid 1px #336289;
  outline: none;
}
